<mat-list>
  <mat-list-item>
    <h3>WebDziekanat Main Page</h3>
  </mat-list-item>
  <p class="text">
    Dear students,

    Welcome to the new version of our student portal. Here you will be able to view all the details concerning your
    studies at the Technical University of Lodz. You may use this portal to generate bank account numbers for your
    student accommodation and for the payments related to your studies.
  </p>
  <p class="text">
    Should you have any problems or remarks concerning the functionality of the portal, please don't hesitate to
    contact us at: <a href="mailto:portal.uczelniany@info.p.lodz.pl" target="_blank">portal.uczelniany@info.p.lodz.pl</a>.
    Checked message are sent from mailboxes polytechnic.
  </p>
  <p class="text">
    <a routerLink="/statutes">Read the ordinance Rector</a>
  </p>
  <p class="text">
    <span style="color:red">Attention!</span>
    Foreign students can obtain the PESEL number from the appropriate deanery.
  </p>
  <p class="text">
    <strong>This site is unavailable every night between 23.00 and 02.00 due to maintenance tasks.</strong>
  </p>
  <mat-divider></mat-divider>
  <mat-list-item>
    <h3>Login to the portal</h3>
  </mat-list-item>
  <p class="text">
    It will facilitate the user to use a group of websites that require authorization. When you try to log in to
    one of these sites, the user is redirected to the CAS login page, and after logging in he gets transparent
    access to all sites that interact with CAS. CAS uses one, common for all websites, account repository.
  </p>
  <p class="text">
    At the same time, it is no longer required to fill in the login form in the WebDziekanat portal.
    To authenticate, use the link called 'Login' located in the upper right corner of the page.
    <p class="text">
      After entering the CAS login page, please enter your ID and password.
      In Lodz University of Technology the role of identifier in the authentication process is assigned to the name
      of the email account in the format '[album number] @ edu.p.lodz.pl', e.g. '123@edu.p.lodz.pl'.
    </p>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h3>Notices</h3>
    </mat-list-item>
    <p class="text">
      The System of Electronic Mail (SPE) implemented in our University must be obligatorily used by all students, PhD
      students and staff members of the Technical University of Lodz.
    </p>
    <p class="text">
      <a routerLink="/bulletin">Check the news on the bulletin board
      </a>
    </p>
    <h4 style="margin-left:5%;">New bank account numbers</h4>
    <p class="text">
      Please be advised that the bank account numbers have changed. Please refer to the new numbers in the website
      webcast under the Account number for payment for studies tab.</p>
    <mat-divider></mat-divider>
</mat-list>