/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

body, html { 
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    background: #2B2B2D;
    
}

.snackbar {
    background: #7b1fa2;
    color: white;
}