<mat-list class="container">
    <mat-list-item>
      <h3>Bulletin board</h3>
    </mat-list-item>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Information
          </mat-panel-title>
          <mat-panel-description>
            General information and tutorials
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <a href="http://platontv.pl/play?PlayerType=2&id=624" target="_blank">Wireless network configuration</a>
          </mat-list-item>
          <mat-list-item>
            <a href="https://edu.p.lodz.pl/mod/page/view.php?id=7724" target="_blank">Procedure for issuing passwords</a>
          </mat-list-item>
          <mat-list-item>
            <a href="">Information for students enrolling in PE</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ads
          </mat-panel-title>
          <mat-panel-description>
            Usefull information
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <a href="http://chemiabudowlana.edu.pl/">Construction chemicals</a>
          </mat-list-item>
          <mat-list-item>
            <a href="">Foreign Language Center</a>
          </mat-list-item>
        </mat-list>
  
      </mat-expansion-panel>
  
      
  
    </mat-accordion>
  </mat-list>