.sidenav-content {
  height: 100%;
}

.fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

/* .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
} */

.sidenav {
  width: 250px;
}

img {
  margin-top: -20px;
}

.menuButtons {
  margin-left: 45%;
}