<mat-toolbar class="mat-elevation-z8 fixed-header" color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <img src="../../../images/politechnika_lodzka2.png" height="64" width="45" />
  <span class="title">Web Dziekanat</span>
  <div class="title">
    <button type="button" mat-button routerLink="/home">HOME</button>
    <button type="button" mat-button onClick="window.open('http://virtul.p.lodz.pl')">virTUL</button>
    <button type="button" mat-button onClick="window.open('http://poczta.p.lodz.pl')">EMAIL</button>
    <button type="button" mat-button onClick="window.open('http://edu.p.lodz.pl')">WIKAMP</button>
  </div>
  <div class="menuButtons">
    <button type="button" class="login" aria-label="language" mat-button (click)="changeText()">{{text}}</button>
    <button type="button" class="login" aria-label="Login button" mat-button (click)="logIn()">{{logText}}</button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" fixedTopGap="64" role="navigation" mode="over" opened="false"
    position="start">
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-nav-list class="mat-nav-list">
      <a mat-list-item routerLink="/statutes">Statutes, regulations, ordinances</a>
      <a mat-list-item routerLink="/bulletin">Bulletin board</a>
      <a mat-list-item href="/courseSchedule">Course schedule</a>
      <div *ngIf="loged">
          <a mat-list-item routerLink="/studentArea/{{id}}">Student {{id}} Data</a>
      </div>
      <a mat-list-item href="https://programy.p.lodz.pl/" target="_blank">ECTS Course Catalogue</a>
      <a mat-list-item href="/documents">Documents</a>
      <a mat-list-item href="https://samorzad.p.lodz.pl/" target="_blank">Technical University of Lodz student government</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>