<p class="text">
  Lissajous curves (also called Bowditch curve) are a pattern produced by the intersection of two sinusoidal curves.
  First studied by the American mathematician Nathaniel Bowditch in 1815,
  the curves were investigated independently by the French mathematician <strong>Jules-Antoine Lissajous</strong> in 1857–58. Lissajous
  used a narrow stream of sand pouring from the base of a compound pendulum to produce the curves.
  <br /><br />
  A Lissajous curve, named after Jules Antoine Lissajous, is a graph of the following two parametric equations:
  <br /><br/>
  <span class="equations"> - x = Asin(at+phi)</span><br/>
  <span class="equations"> - y = Bsin(bt)</span>
  <br /><br />
  <strong>'A' and 'B' represent amplitudes in the x and y directions, 'a' and 'b' are constants, and 'phi' is an phase angle</strong>. The user
  interface above allows you to modify each of these five parameters and see how the graph is affected. The values of 'a'
  and 'b' have a particularly strong effect on the shape of the curve.
  <br /><br />
  'a' determines the number of horizontally aligned "lobes" and 'b' determines the number of vertically aligned lobes. For
  example for a=3 and b=2 you should see 3 horizontal lobes and 2 vertical. You may need to adjust 'phi' to clearly see the
  lobes as they sometimes overlap for certain values of 'phi'. Also note, that the graph with, say, a=6 and b=4 will be
  identical to the graph of a=3 and b=2 as it is specifically the ratio which affects the shape of the graph.
</p>