<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<footer class="footer">
  <div class="row container">
    <!-- Logotype -->
    <div class="col-md-4 logotype">
      <a href="http://www.p.lodz.pl">
        <img src="../../../images/footer_logotype.png">
      </a>
      <a class="link" style="font-size: 13px;" href="http://www.p.lodz.pl">Politechnika Łódzka</a>
    </div>
    <!-- Copyright -->
    <div class="col-md-6">
      <div class="row" style="margin-top:5%;">
        <span class="text">
          <a class="link" href="https://webdziekanat.p.lodz.pl/webdziekanat/mailto:portal.uczelniany@info.p.lodz.pl">Centrum
            Komputerowe PŁ</a>- webdziekanat-web-2.21.0-1 (20180716-1421)
        </span>
      </div>
      <div class="row copyright">
        <span class="text">
          &copy; {{ today | date: 'yyyy' }} Copyright: Pedro Polo Benito.
        </span>
      </div>
    </div>
  </div>
</footer>