<div class="container">
  <h3>Course schedule:</h3>
  <mat-list>
    <mat-list-item>
      <a href="https://www.binoz.p.lodz.pl/pl/studenci-i-studia/plany-zaj.html" target="_blank">Faculty of
        Biotechnology and Food Sciences</a>
    </mat-list-item>

    <mat-list-item>
      <a href="https://inpap.p.lodz.pl/index.php" target="_blank">Institute of Papermaking and Printing</a>
    </mat-list-item>

    <mat-list-item>
      <a href="http://www.wipos.p.lodz.pl/index.php?podmenu=80&sub=81&biuro=3" target="_blank">Faculty of Process
        Engineering and Environmental Protection</a>
    </mat-list-item>

    <mat-list-item>
      <a href="https://chemia.p.lodz.pl/index.php" target="_blank">Chemical Department</a>
    </mat-list-item>

    <mat-list-item>
      <a href="http://www.weeia.p.lodz.pl/" target="_blank">Faculty of Electrical Engineering, Electronics, Computer
        Science and Automation</a>
    </mat-list-item>

    <mat-list-item>
      <a href="http://www.style.p.lodz.pl/tresc/63/" target="_blank">Faculty of Materials Technology and Textile Design</a>
    </mat-list-item>

    <mat-list-item>
      <a href="http://ftims.p.lodz.pl/course/view.php?id=12" target="_blank">Faculty of Technical Physics, Information
        Technology and Applied Mathematics</a>
    </mat-list-item>
    <mat-list-item>
      <a href="http://www.mechaniczny.p.lodz.pl/plan.html" target="_blank">Faculty of Mechanical Engineering</a>
    </mat-list-item>

    <mat-list-item>
      <a href="https://wzip.edu.p.lodz.pl/" target="_blank">Faculty of Management and Production Engineering</a>
    </mat-list-item>

    <mat-list-item>
      <a href="">Faculty of Civil Engineering, Architecture and Environmental Engineering</a>
    </mat-list-item>

    <mat-list-item>
      <a href="https://www.ife.p.lodz.pl/index.php?option=com_content&view=article&id=56&Itemid=431&lang=pl" target="_blank">Center
        for International Education</a>
    </mat-list-item>
  </mat-list>
</div>