<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile colspan="4" rowspan="1">
    <div class="title">
      <h4>General Information</h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-list>
      <mat-list-item>
        <label>Department:</label>
        <label>Center for International Education</label>
      </mat-list-item>
      <mat-list-item>
        <label>Course:</label>
        <label>Computer Science</label>
      </mat-list-item>
      <mat-list-item>
        <label>Speciality:</label>
        <label> - </label>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-list>
      <mat-list-item>
        <label>Mode of study:</label>
        <label>Erasmus studies</label>
      </mat-list-item>
      <mat-list-item>
        <label>Length of studies:</label>
        <label>3.5</label>
      </mat-list-item>
      <mat-list-item>
        <label>Main course:</label>
        <label>yes</label>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile  colspan="4" rowspan="1">
    <div class="title">
      <h4>Data valid</h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-list>
      <mat-list-item>
        <label>Current year:</label>
        <label>1</label>
      </mat-list-item>
      <mat-list-item>
        <label>Current semester:</label>
        <label>1</label>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-list>
      <mat-list-item>
        <label>Academic semester:</label>
        <label>2018/19 Z</label>
      </mat-list-item>
      <mat-list-item>
        <label>Status:</label>
        <label>Full registration</label>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1">
    <div class="title">
      <h4>Average</h4>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-list>
      <mat-list-item>
        <label>Recognized:</label>
        <label>0.0</label>
      </mat-list-item>
      <mat-list-item>
        <label>Semester:</label>
        <label>0.0</label>
      </mat-list-item>
      <mat-list-item>
        <label>For all studies:</label>
        <label>0.0</label>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-list>
      <mat-list-item>
        <label>Recognized:</label>
        <label>0</label>
      </mat-list-item>
      <mat-list-item>
        <label>
          Earned/Nominal:</label>
        <label>0/40</label>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>