<footer>
  <div class="footerList">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
        <div class="footerLogo">
          <img src="../../../images/mainLogo2.png" height="50px" width="50px">
          <span>Arcade Game</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="version">
          <span>Current version: 1.1.0</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="copyright">
          <span>Created by Pedro Polo Benito @2018-2019</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</footer>