<mat-list class="container">
  <mat-list-item>
    <h3>Statutes, regulations, ordinances</h3>
  </mat-list-item>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Statute
        </mat-panel-title>
        <mat-panel-description>
          Statute of the Lodz University of Technology
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <a target="_blank" href="https://politechnikalodzka.ssdip.bip.gov.pl/dane-teleadresowe/dane-teleadresowe.html">Statut
            Politechniki Łódzkiej</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Regulations
        </mat-panel-title>
        <mat-panel-description>
          Study Regulations at the Lodz University of Technology
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <a href="https://www.p.lodz.pl/pl/lista/regulamin-studiow" target="_blank">Regulaminy Studiów w Politechnice
            Łódzkiej dla Studentów</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://www.p.lodz.pl/pl/regulamin-studiow-doktoranckich-politechnice-lodzkiej" target="_blank">Regulaminy
            Studiów w Politechnice Łódzkiej dla Doktorantów</a>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ordinance
        </mat-panel-title>
        <mat-panel-description>
          Rector's Ordinance
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <a href="">Zarządzenia Rektora Nr 15/2010 w sprawie zasad organizacji i korzystania z poczty elektronicznej</a>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Material assistance
        </mat-panel-title>
        <mat-panel-description>
          Help material for students and PhD students.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <a href="https://www.p.lodz.pl/pl/lista/pomoc-materialna-dla-studentow" target="_blank">Pomoc materialna dla
            studentów</a>
        </mat-list-item>
        <mat-list-item>
          <a href="https://www.p.lodz.pl/pl/lista/pomoc-materialna-dla-doktorantow">Pomoc materialna dla doktorantów
          </a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

  </mat-accordion>
</mat-list>