<mat-list class="container">
  <mat-list-item>
    <h3>Documents</h3>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tuition Fees for the academic year
        </mat-panel-title>
        <mat-panel-description>
          Tuition Fee
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <a href="https://www.p.lodz.pl/pl/lista/oplaty-za-uslugi-edukacyjne" target="_blank">
            Students - fees for educational services</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mandatory terms for the academic year
        </mat-panel-title>
        <mat-panel-description>
          Mandatory terms
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <a href="https://www.p.lodz.pl/pl/lista/podzial-roku-akademickiego" target="_blank">Obligatory dates and
            division of the
            academic year
          </a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Meeting terms for the academic year
        </mat-panel-title>
        <mat-panel-description>
          Meeting terms
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <a href="https://www.p.lodz.pl/pl/lista/podzial-roku-akademickiego" target="_blank">Obligatory dates and
            division of the academic year</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Application Forms
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <a href="" target="_blank">Occasional holidays</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Registration after the holiday</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Commission examination</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Repeat the semester</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Individual study organization</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Individual study plan</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Promotion</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Extra-curricular subjects</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Achievements to the supplement</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Giving the confidentiality status of the diploma thesis</a>
        </mat-list-item>
        <mat-list-item>
          <a href="" target="_blank">Additional</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-list>